<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Version" value="2.0.0" />
        <add key="DebugMode" value="false" />
        <add key="LogLevel" value="Info" />
        <add key="DatabaseConnection" value="Server=localhost;Database=SampleApp;" />
        <add key="ApiEndpoint" value="https://api.sampleapp.com/v2" />
    </appSettings>
</configuration>
